<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <title>Title</title>
</head>
<body>
    你好呀
     <form th:action="@{/gethello}" method="post" th:object="${adminedituser}" >
         <input type="hidden" name="id" th:value="${adminedituser.id}">
         邮箱：<input type="text" name="" th:value="${adminedituser.email}">

     </form>
    <div id="slideTest1"></div>
    <script>
        layui.use('slider', function(){
            var slider = layui.slider;

            //渲染
            slider.render({
                elem: '#slideTest1'  //绑定元素
            });
        });
    </script>
</body>

</html>